<% if @search %>
<h3>Resultados por "<%= @search%>"</h3>

<%elsif @delete %>
<h3>El documento "<%= @title%>" ha sido borrado</h3>
<%elsif%>

<h1>Recursos disponibles</h1>

<%end%>

<hr />


<div class="gallery">
<% for resource in @resources %>
<div id="resources"></div>
<a href ="/resource/file?id=<%=resource.id%>">
	<div class="resource">
	<%= hidden_field_tag(:id)%>
	<span><%= image_tag resource.cover.url(:thumb)%></span><br />
	<h2 class="small"><%= resource.title %></h2>
	<h3 class="small"><%= resource.author %></h3><br />		
</div> </a>

<% end %>

<div class="pagination"><%= will_paginate @resources %></div>
</div>

<hr />




