<h3>Hola <%= @currentUser.email %></h3>

<h1>Descarga tu libro</h1>
	<div class = "portada"><%= image_tag @resource.cover.url(:medium)%></div>
	<div class = "titulo"><%= @resource.title %></div>
	<div class = "autor"><%= @resource.author %></div>
		<% for document in @resource.documents%>
			<div class = "descargar"><a href="/resource/download?id=<%=document.id%>">Descagar</a></div>
		<%end%>
	<div class = "tags">
			TAGS: <% @resource.tags.each{|tag| %>
			<a href=/resource/search?search=<%=tag.name%>> <%=tag.name%></a>
			<%}%>
	</div>
	<div class = "desc"><%= @resource.description %></div>
	<div class = "votes">Valoración media: <%= @resource.get_votes %></div>
	<div class = "user">Compartido, amablemente por... <%= @userSharing %></div>
	<div class = "link"><a href="/resource/delete?id=<%= @resource.id%>">BORRAR</a>
		
		
	<% 
	for comment in @resource.comments %>
		<div><%=comment.comment%></div>
		<div>Comentado por <%= comment.user.email%></div>

	<%end%>

	<h2> -- Añade un comentario -- </h2>

	<%= form_tag({controller:"comment",action:"create"},method:"get") do%>
		<%= hidden_field_tag(:id,@resource.id)%>
		<%= label_tag(:comment, "Comentario:")%><br />
		<%= text_area_tag(:comment)%><br />
		<%= submit_tag("Comenta!")%>
	<% end %>
	
		<h2> -- Vota este recurso -- </h2>

	<%= form_tag({controller:"vote",action:"create"},method:"get") do%>
		<%= hidden_field_tag(:id,@resource.id)%>
		<%= label_tag(:value, "Voto:")%><br />
		<%= select_tag(:value, options_for_select([1,2,3,4,5]))%><br />
		<%= submit_tag("Vota!")%>
	<% end %>


