

<h1>Descarga tu libro</h1>
<main>
	<div class = "portada"><%= image_tag @resource.cover.url(:medium)%></div>
	<div class = "titulo"><%= @resource.title %></div>
	<div class = "autor"><%= @resource.author %></div>
		<% for document in @resource.documents%>
			<div class = "descargar"><%= link_to "Descarga archivo", document.file.url(:original, false)%></div>
		<%end%>
	<div class = "tags">
			TAGS: <% @resource.tags.each{|tag| %>
			<a href=/resource/search?search=<%=tag.id%>> <%=tag.name%></a>
			<%}%>
	</div>
	<div class = "desc"><%= @resource.description %></div>
</main>
	
