<h3>Hola <%= @currentUser.email %></h3>

<h1>Descarga tu libro</h1>
	<div class = "portada"><%= image_tag @resource.cover.url(:medium)%></div>
	<div class = "titulo"><%= @resource.title %></div>
	<div class = "autor"><%= @resource.author %></div>
		<% for document in @resource.documents%>
			<div class = "descargar"><a href="/resource/download?id=<%=document.id%>">Descagar</a></div>
		<%end%>
	<div class = "tags">
			TAGS: <% @resource.tags.each{|tag| %>
			<a href=/resource/search?search=<%=tag.name%>> <%=tag.name%></a>
			<%}%>
	</div>
	<div class = "desc"><%= @resource.description %></div>
	<div class = "user">Compartido, amablemente por... <%= @userSharing %></div>

	<h2> -- Añade un comentario -- </h2>

	<%= form_tag({controller:"resource",action:"comment"},method:"get") do%>
		<%= label_tag(:comment, "Comentario:")%><br />
		<%= text_field_tag(:comment)%><br />
		<%= submit_tag("Comenta!")%>
	<% end %>
	

	<% @comments = Comment.all
	for comment in @comments %>
		<div><%=comment.comment%></div>
	<%end%>
