<h3>Hola <%= @currentUser.email %></h3>

<h1>Descarga tu libro</h1>
	<div class = "portada"><%= image_tag @resource.cover.url(:medium)%></div>
	<div class = "titulo"><%= @resource.title %></div>
	<div class = "autor"><%= @resource.author %></div>
		<% for document in @resource.documents%>
			<div class = "descargar"><a href="/resource/download?id=<%=document.id%>">Descagar</a></div>
		<%end%>
	<div class = "tags">
			TAGS: <% @resource.tags.each{|tag| %>
			<a href=/resource/search?search=<%=tag.name%>> <%=tag.name%></a>
			<%}%>
	</div>
	<div class = "desc"><%= @resource.description %></div>
	<div class = "user">Compartido, amablemente por... <%= @userSharing %></div>
	<div class = "link"><a href="/resource/delete?id=<%= @resource.id%>">BORRAR</a>
		
		
	<% 
	for comment in @resource.comments %>
		<div><%=comment.comment%></div>
		<div>Comentado por <%= comment.user.email%> </div>
		<div class ="avatarComentario"><%= image_tag(comment.user.avatar)%></div>
	<%end%>

	<h2> -- Añade un comentario -- </h2>

	<%= form_tag({controller:"comment",action:"create"},method:"get") do%>
		<%= hidden_field_tag(:id,@resource.id)%>
		<%= label_tag(:comment, "Comentario:")%><br />
		<%= text_area_tag(:comment)%><br />
		<%= submit_tag("Comenta!")%>
	<% end %>
	
<h2>Recomienda este recurso</h2>

<%= form_tag({controller:"librin_mail", action:"suggestion"}, method:"get") do%>

	<%= label_tag(:userName, "Nombre Usuario")%>
	<%= text_field_tag(:userName)%><br>
	<%= hidden_field_tag(:id, @resource.id)%>
	
	<%= submit_tag "Enviar"%><br>
<%end%>























