

<% if @search%>
<h3>Resultados por "<%= @search%>"</h3>
<%elsif%>
<h3>El documento ha sido borrado<%= @delete%></h3>
<%elsif%>
<h3>Rescursos disponibles</h3>
<%end%>

<% for resource in @resources %>
<div id="resources"></div>
<a href ="/resource/file?id=<%=resource.id%>">
	<div class="resource">
	<%= hidden_field_tag(:id)%>
	<%= image_tag resource.cover.url(:thumb)%><br />
	<span><%= resource.title %></span><br />
	<span><%= resource.author %></span><br />		
</div> </a>
<% end %>
<br /><br /><br />

