<% for document in @documents%>

<%=document.resource_id%>-
<%= link_to "Download", document.file.url(:original, false) %>
<%=document.file_content_type%>
<%=document.file_file_size/1000000.0%> MBs<br>
<%end%>
<h3>Recursos Subidos</h3>
<% for resource in @resources %>
<div id="resources"></div>
<div class="resource"><%= image_tag resource.cover.url(:thumb)%><br /><span><%= resource.title %></span><br /><span><%= resource.author %></span><br /><span>
<%= resource.description %></span></div> 
<!---->
<% end %>

