

<% if @search%>
<h3>Resultados por "<%= @search%>"</h3>
<%else%>
<h1>Rescursos disponibles</h1>
<hr />
<%end%>

<% for resource in @resources %>
<div id="resources"></div>
<a href ="/resource/file?id=<%=resource.id%>">
	<div class="resource">
	<%= hidden_field_tag(:id)%>
	<span><%= image_tag resource.cover.url(:thumb)%></span><br />
	<span><%= resource.title %></span><br />
	<span><%= resource.author %></span><br />		
</div> </a>
<% end %>

<hr />


