<% if @search %>
<h3>Resultados por "<%= @search%>"</h3>

<%elsif @delete %>
<h3>El documento "<%= @title%>" ha sido borrado</h3>
<%elsif%>


<h1>Recursos disponibles</h1>

<%end%>

<hr />



<% for resource in @resources %>
<div id="resources"></div>
<a href ="/resource/file?id=<%=resource.id%>">
	<div class="resource">
	<%= hidden_field_tag(:id)%>
	<span><%= image_tag resource.cover.url(:thumb)%></span><br />
	<span><%= resource.title %></span><br />
	<span><%= resource.author %></span><br />		
</div> </a>
<% end %>

<div class="pagination"><%= will_paginate @resources %></div>

<hr />


