<% for document in @documents%>

<%=document.resource_id%>-
<%= link_to "Download", document.file.url(:original, false) %>
<%=document.file_content_type%>
<%=document.file_file_size/1000000.0%> MBs<br>
<%end%>

<% for resource in @resources %>
<%= image_tag resource.cover.url(:thumb)%><br>
<%= resource.title %><br>
<%= resource.author %><br>
<%= resource.description %><br>
<%= resource.user.email %><br>
<% resource.tags.each{|tag| %>
	<a href=/resource/search?search=<%=tag.name%>> <%=tag.name%></a>
	<%}%>
<br>
----------------
<br>
<% end %>

