<%= javascript_tag do %>
var tagsArray = <%=@tags.to_json.html_safe%>;
<% end %>

	<div id="login">

		<h2><span class="fontawesome-lock"></span>Comparte un recurso</h2>

		<%= form_for @resource, html: { :multipart => true }, url: {controller: "resource", action: "create"} do |f| %>

			<fieldset>

				<p><%= f.label :title, "Título"%></p>
				<p><%= f.text_field :title %></p>

				<p><%= f.label :author, "Autor"%></p>
				<p><%= f.text_field :author %></p>

				<p><%= f.label :description, "Descripción"%></p>
				<p><%= f.text_area :description %></p>

				<p><%= f.label :tags, "Tags (separados por comas)"%></p>
				<p><%= text_area_tag :tags%></p>

				<p><%= f.label :cover, "Portada"%></p>
				<p><%= f.file_field :cover %></p>

				<p><%= f.label :files, "Archivos"%></p>
				<p><%= file_field_tag "files[]", type: :file, multiple: true %></p>

				<p><%= f.submit "Comparte!" %></p>

			</fieldset>

		<%end%>	
	</div> 
