<%= javascript_tag do %>
var tagsArray = <%=@tags.to_json.html_safe%>;
<% end %>
		<h1><span class="fontawesome-lock"></span>Comparte un recurso</h1>

<hr />


<div class="form-general">
<%= form_for @resource, html: { :multipart => true }, url: {controller: "resource", action: "create", class:"form-horizontal"} do |f| %>
  <fieldset>
    <legend>Recurso</legend>

    <div class="form-group">
      <label class="col-lg-2 control-label"><%= f.label :title, "Título"%></label>
      <div class="col-lg-10">
      	<%= f.text_field :title, class:"form-control", id:"inputEmail", placeholder:"Título"%>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label"><%= f.label :author, "Autor"%></label>
      <div class="col-lg-10">
      	<%= f.text_field :author, class:"form-control", id:"inputEmail", placeholder:"Autor"%>
      </div>
    </div>

    <div class="form-group">
      <label for="textArea" class="col-lg-2 control-label"><%= f.label :description, "Descripción"%></label>
      <div class="col-lg-10">
        <%= f.text_area :description, class:"form-control", id:"textArea" %>
      </div>
    </div>

    <div class="form-group">
      <label for="textArea" class="col-lg-2 control-label"><%= f.label :cover, "Portada"%></label>
      <div class="col-lg-10">
        <%= f.file_field :cover, class:"form-control", id:"textArea" %>
      </div>
    </div>

     <div class="form-group">
      <label for="textArea" class="col-lg-2 control-label"><%= f.label :cover, "Seleccionar portada automaticamente"%></label>
      <div class="col-lg-10">
        <%= check_box_tag("gBooks", value = "1", checked = false, options = {}) %>
      </div>
    </div>

    <div class="form-group">
      <label for="textArea" class="col-lg-2 control-label"><%= f.label :files, "Archivos"%></label>
      <div class="col-lg-10">
       	<%= file_field_tag "files[]", type: :file, multiple: true, class:"form-control", id:"textArea" %>
      </div>
    </div>

     <div class="form-group">
      <label for="textArea" class="col-lg-2 control-label"><%= f.label :tags, "Tags (separados por comas)"%></label>
      <div class="col-lg-10">
        <%= text_area_tag :tags%>
      </div>
    </div>
    
	<hr />
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <%= f.submit "Comparte!", class:"btn btn-primary" %> 
      </div>
    </div>
  </fieldset>
<% end %>
</div>

<hr />


