<h1>Editar recurso</h1>
<hr />

<div class="form-general">
<%= form_for @resource, html: { :multipart => true }, url: {controller: "resource", action: "update"} do |f| %>
  <fieldset>
    <legend>Recurso</legend>
		<%= hidden_field_tag :id, @resource.id%>

    <div style="text-align: center;"><%= image_tag @resource.cover.url(:medium) %></div>

    <div class="form-group">
      <label class="col-lg-2 control-label"><%= f.label :title, "Título"%></label>
      <div class="col-lg-10">
      	<%= f.text_field :title, class:"form-control", id:"inputEmail", :value => @resource.title %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label"><%= f.label :author, "Autor"%></label>
      <div class="col-lg-10">
      	<%= f.text_field :author, class:"form-control", id:"inputEmail", :value => @resource.author %>
      </div>
    </div>

    <div class="form-group">
      <label for="textArea" class="col-lg-2 control-label"><%= f.label :description, "Descripción"%></label>
      <div class="col-lg-10">
        <%= f.text_area :description, class:"form-control", id:"textArea", :value => @resource.description %>
      </div>
    </div>

    <div class="form-group">
      <label for="textArea" class="col-lg-2 control-label"><%= f.label :cover, "Portada"%></label>
      <div class="col-lg-10">
        <%= f.file_field :cover, class:"form-control", id:"textArea" %>
      </div>
    </div>

    <div class="form-group">
      <label for="textArea" class="col-lg-2 control-label"><%= f.label :files, "Archivos"%></label>
      <div class="col-lg-10">
       	<%= file_field_tag "files[]", type: :file, multiple: true, class:"form-control", id:"textArea" %>
      </div>
    </div>

     <div class="form-group">
      <label for="textArea" class="col-lg-2 control-label"><%= f.label :tags, "Tags (separados por comas)"%></label>
      <div class="col-lg-10">
      	<%= f.text_field :tags, :value => @listTags.join(',')%>
      </div>
    </div>
    
	<hr />
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <%= f.submit "Edita!", class:"btn btn-primary" %> 
      </div>
    </div>
  </fieldset>
<% end %>
</div>

<hr />
