<h1>Log in</h1>

<div class="form-general">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <fieldset>
    <legend>Log In</legend>

    <div class="form-group">
      <label class="col-lg-2 control-label"><%= f.label :email %></label>
      <div class="col-lg-10">
         <%= f.email_field :email, autofocus: true, class:"form-control", id:"inputEmail" %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label"><%= f.label :password %></label>
      <div class="col-lg-10">
        <%= f.password_field :password, autocomplete: "off", class:"form-control", id:"inputEmail" %>
      </div>
    </div>

    <% if devise_mapping.rememberable? -%>
    <div class="form-group">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>
    
  <hr />
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <%= f.submit "Log in", class:"btn btn-primary" %>
      </div>
    </div>
  </fieldset>
<% end %>
</div>
<%= render "devise/shared/links" %>
<hr />

